body {
    font-family: "Arial";
}

.menu {
    background: #E74C3C;
    height: 100px;
    width: 100%;
}

.logo {
    background: #383435;
    text-align: center;
    color: white;
    height: 300px;
    width: 80%;
    float: left;
}

.logo h1 {
    font-weight: 800;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.twitter {
    background: #4099FF;
    text-align: center;
    color: white;
    height: 300px;
    width: 20%;
    float: right;
}

.twitter h1 {
    font-weight: 800;
    font-size: 60px;
}

#linhaTwitter {
    background: #383435;
    width: 100%;
    height: 10;
    margin-bottom: 10px;
}

.container {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #ee5454;
    height: 700px;
    width: 100%;
}
.projetos {
    display: inline-flex;
}
.proj {
    height: 500px;
    width: 400px;
    background: #f6f6f6;
    border-radius: 2px;
    margin: 25px;
}
.proj-texto {
    font-weight: 500;
    padding: 10px;
}
.proj-img {
    height: 180px;
}

.membros {
    background: #383435;
    height: 300px;
}
