body {
    font-family: "Arial";
}

.menu {
    background: #E74C3C;
    height: 100px;
    width: 100%;
}

.logo {
    background: #383435;
    text-align: center;
    color: white;
    height: 300px;
    width: 100%;
    float: left;
}

.logo h1 {
    font-weight: 800;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #ee5454;
    height: 700px;
    width: 100%;
}
.projetos {
    display: inline-flex;
    width: 1000px;
}
.proj {
    height: 500px;
    background: #f6f6f6;
    border-radius: 2px;
    margin: 15px;
}
.proj-texto {
    font-weight: 500;
    color: #52575c;
    padding: 5px;
}
.proj-img {
    height: 180px;
}

.membros {
    background: #383435;
    height: 300px;
    width: 100%;
}

@media(max-width: 1000px) {
    .projetos {
        width: 98%;
        margin: 10px;
    }
}

@media(max-width: 768px) {
    .projetos {
        display: inline;
    }
}
